site_name: Example MkDocs Material Documentation for pypackage_template
site_url: https://byuirpytooling.github.io/pypackage_template
theme:
  name: material
  icon:
    logo: fontawesome/solid/wind
  favicon: assets/favicon.ico
  featuers:
    - navigation.footer
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          options:
            show_source: false

extra:
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@byuidss
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/school/byu-idaho

copyright: Copyright &copy; 2026 J. Hathaway